body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    height: 100px;
    background: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
}

ul li a{
    padding: 5px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #F9FAF8
}

li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    transition: all .5s;
    background: #F9FAF8;
}

li a:hover::after{
    width: 100%;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 60vh;
    background: #1F2937;
    color: #F9FAF8;
}

.heropic{
    max-width: 300px;
    height: auto;
}

.action{
    background: #3882f6;
    color:#F9FAF8;
    
}
button{
    background: #3882f6;
    color:#F9FAF8;
    border: none;
    width: 100px;
    padding: 25x 35x;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4x 2px;
    border-radius: 4px;
}

.signup2{
    border: 2px solid #F9FAF8;
}

.footer{
    background: #1F2937;
    color: #F9FAF8;
    font-size: smaller;
    display: flex;
    padding: 25px;
    justify-content: center;
}
